
.main-box{data: {message: {id: message.id}}}
  .main__user-name
    = message.user.name
  .main__user-name__date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main__user-message
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'main__user-name' if message.image.present?
    51e2f10e1fe9934909417855af62e411852306a063631a8b374fb728e35c14427862efea5ca69bfec0bd25c71325825714477b2f3ce4a9fd64551b210dd8212b